<div class="autocomplete-results">
  <a class="autocomplete-result" data-index="-1">
    <div class="title">"<strong>{{{term}}}</strong>"</div>
    <div class="description">Search the documentation</div>
  </a>
  {{#each results}}
    <a href="{{moduleTitle}}.html#{{anchor}}" class="autocomplete-result" data-index="{{@index}}">
      <div class="title">{{{title}}}</div>
      <div class="description">
        {{#if isModule}}
          Module
        {{else if isFunction}}
          {{{moduleTitle}}}
        {{/if}}
      </div>
    </a>
  {{/each}}
</div>
