<div class="autocomplete-suggestions">
  <a class="autocomplete-suggestion" href="search.html?q={{term}}" data-index="-1" tabindex="-1">
    <div class="title">"<em>{{term}}</em>"</div>
    <div class="description">Search the documentation</div>
  </a>
  {{#each results}}
    <a href="{{link}}" class="autocomplete-suggestion" data-index="{{@index}}" tabindex="-1">
      <div class="title">
        {{{title}}}
        {{#if label}}
          <span class="label">({{label}})</span>
        {{/if}}
      </div>

      {{#if description}}
        <div class="description">
          {{{description}}}
        </div>
      {{/if}}
    </a>
  {{/each}}
</div>
