<h1>Search Results for <em>{{value}}</em></h1>

{{#if empty}}
  <p>Sorry, we couldn't find anything for <em>{{value}}</em>.</p>
{{else}}
  {{#each results}}
    <div class="result">
      <h2 class="result-id">
        <a href="{{this.ref}}">{{this.title}} <small>({{this.type}})</small></a>
      </h2>
        {{#each excerpts}}
          <p class="result-elem">{{{this}}}</p>
        {{/each}}
    </div>
  {{/each}}
{{/if}}
