<h1>{{ translations.search_results }} <em>{{value}}</em></h1>

{{#isNonEmptyArray results}}
  {{#each results}}
    <div class="result">
      <h2 class="result-id">
        <a href="{{this.ref}}">{{this.title}} <small>({{useTranslation this.type ../translations}})</small></a>
      </h2>
        {{#each excerpts}}
          <p class="result-elem">{{{this}}}</p>
        {{/each}}
    </div>
  {{/each}}
{{else}}
  {{#isArray results}}
    <p>{{ useTranslation "Sorry, we couldn't find anything for" translations }} <em>{{value}}</em>.</p>
  {{else}}
    <p>Invalid search: {{errorMessage}}.</p>
  {{/isArray}}

  <p>{{ useTranslation "Here are some tips when performing a full-text search:" translations }}</p>

  <dl>
    <li>{{{ useTranslation "Multiple words (such as <code>foo bar</code>) are searched as <code>OR</code>" translations }}}</li>
    <li>{{{ useTranslation "Use <code>*</code> anywhere (such as <code>fo*</code>) as wildcard" translations }}}</li>
    <li>{{{ useTranslation "Use <code>+</code> before a word (such as <code>+foo</code>) to make its presence required" translations }}}</li>
    <li>{{{ useTranslation "Use <code>-</code> before a word (such as <code>-foo</code>) to make its absence required" translations }}}</li>
    <li>{{{ useTranslation "Use <code>WORD^NUMBER</code> (such as <code>foo^2</code>) to boost the given word" translations }}}</li>
    <li>{{{ useTranslation "Use <code>WORD~NUMBER</code> (such as <code>foo~2</code>) to do a search with edit distance on word" translations }}}</li>
  </dl>

  <p>{{ useTranslation "To quickly go to a module, type, or function, use the autocompletion feature in the sidebar search." translations }}</p>
{{/isNonEmptyArray}}
