<ul id="full-list">
{{#each nodes as |node nodeId|}}
    {{#newGroup ../this node.group}}
      <li class="group">{{node.group}}</li>
    {{/newGroup}}
    <li class="{{#isLocal node.id}}clicked open{{/isLocal}}">

    {{!-- When visiting a module page, the link to this module page
    in the menu should not link to a new page, instead should link
    to the top of the page itself. --}}

    <a href="{{node.id}}.html" title="{{node.title}}" class="expand">{{node.title}}</a>

    <ul>
      <li>
        <a href="{{node.id}}.html#content">Top</a>
      </li>

      {{#isArray node.headers}}
        {{#each node.headers}}
          <li>
            <a href="{{node.id}}.html#{{{anchor}}}">{{id}}</a>
          </li>
        {{/each}}
      {{else}}
        {{#showSummary node}}
        <li>
          <a href="{{node.id}}.html#summary">Summary</a>
        </li>
        {{/showSummary}}
        {{#if node.types}}
          <li class="docs">
            <a href="{{node.id}}.html#types" class="expand">Types</a>
            <ul class="types-list deflist">
              {{#each node.types}}
                <li>
                  <a href="{{node.id}}.html#{{anchor}}">{{id}}</a>
                </li>
              {{/each}}
            </ul>
          </li>
        {{/if}}
        {{#if node.functions}}
          <li class="docs">
            <a href="{{node.id}}.html#functions" class="expand">Functions</a>
            <ul class="functions-list deflist">
              {{#each node.functions}}
                <li>
                  <a href="{{node.id}}.html#{{anchor}}">{{id}}</a>
                </li>
              {{/each}}
            </ul>
          </li>
        {{/if}}
        {{#if node.macros}}
          <li class="docs">
            <a href="{{node.id}}.html#macros" class="expand">Macros</a>
            <ul class="macros-list deflist">
              {{#each node.macros}}
                <li>
                  <a href="{{node.id}}.html#{{anchor}}" class="deflink">{{id}}</a>
                </li>
              {{/each}}
            </ul>
          </li>
        {{/if}}
        {{#if node.callbacks}}
          <li class="docs">
            <a href="{{node.id}}.html#callbacks" class="expand">Callbacks</a>
            <ul class="callbacks-list deflist">
              {{#each node.callbacks}}
                <li>
                  <a href="{{node.id}}.html#{{anchor}}" class="deflink">{{id}}</a>
                </li>
              {{/each}}
            </ul>
          </li>
        {{/if}}
      {{/isArray}}
    </ul>
  </li>
{{/each}}
</ul>
