<ul id="full-list">
{{#each this as |node nodeId|}}
    <li class="node{{#isLocal node.id}} clicked{{/isLocal}}">

    {{!-- When visiting a module page, the link to this module page
    in the menu should not link to a new page, instead should link
    to the top of the page itself. --}}

    {{#isLocal node.id}}
      <a href="#content" title="{{node.title}}" class="object-link">{{node.title}}</a>
    {{else}}
      <a href="{{node.id}}.html" title="{{node.title}}" class="object-link">{{node.title}}</a>
    {{/isLocal}}

    {{!-- Extra pages --}}
    {{#if node.headers}}
      <ul>
        {{#each node.headers}}
          <li class="docs">
            <a href="#{{{anchor}}}" class="doclink">{{id}}</a>
          </li>
        {{/each}}
      </ul>
    {{/if}}

    {{#showSummary node}}
    <ul>
      <li class="docs">
        <a href="#summary" class="doclink">Summary</a>
      </li>
      {{#if node.types}}
        <li class="docs">
          <a href="#types" class="doclink">Types</a>
          <ul class="types-list deflist">
            {{#each node.types}}
              <li>
                <a href="#{{anchor}}" class="deflink">{{id}}</a>
              </li>
            {{/each}}
          </ul>
        </li>
      {{/if}}
      {{#if node.functions}}
        <li class="docs">
          <a href="#functions" class="doclink">Functions</a>
          <ul class="functions-list deflist">
            {{#each node.functions}}
              <li>
                <a href="#{{anchor}}" class="deflink">{{id}}</a>
              </li>
            {{/each}}
          </ul>
        </li>
      {{/if}}
      {{#if node.macros}}
        <li class="docs">
          <a href="#macros" class="doclink">Macros</a>
          <ul class="macros-list deflist">
            {{#each node.macros}}
              <li>
                <a href="#{{anchor}}" class="deflink">{{id}}</a>
              </li>
            {{/each}}
          </ul>
        </li>
      {{/if}}
      {{#if node.callbacks}}
        <li class="docs">
          <a href="#callbacks" class="doclink">Callbacks</a>
          <ul class="callbacks-list deflist">
            {{#each node.callbacks}}
              <li>
                <a href="#{{anchor}}" class="deflink">{{id}}</a>
              </li>
            {{/each}}
          </ul>
        </li>
      {{/if}}
    </ul>
    {{/showSummary}}
  </li>
{{/each}}
</ul>
