<ul id="full-list">
  {{#each nodes as |node nodeId|}}
    {{#groupChanged ../this node.group}}
      <li class="group">{{node.group}}</li>
    {{/groupChanged}}

    {{#nestingChanged ../this node}}
      <li class="nesting-context" aria-hidden="true">{{node.nested_context}}</li>
    {{/nestingChanged}}

    <li class="{{#isLocal node.id}}current-page open{{/isLocal}} {{#if node.nested_title}}nested{{/if}}">
      {{! When visiting a module page, the link to this module page
      in the menu should not link to a new page, instead should link
      to the top of the page itself. }}
      <a href="{{node.id}}.html" class="expand">
        {{#if node.nested_title}}
          {{node.nested_title}}
        {{else}}
          {{node.title}}
        {{/if}}

        <span class="icon-goto" title="{{ useTranslation "Go to" ../translations }} {{node.title}}"></span>
      </a>

      <ul>
        <li>
          <a href="{{node.id}}.html#content">{{ useTranslation "Top" ../translations }}</a>
        </li>

        {{#isArray node.headers}}
          {{#each node.headers}}
            <li>
              <a href="{{node.id}}.html#{{{anchor}}}">{{{ useTranslation id ../../translations }}}</a>
            </li>
          {{/each}}
        {{else}}
          {{#showSummary node}}
            <li>
              <a href="{{node.id}}.html#summary">{{ useTranslation "Summary" ../translations }}</a>
            </li>
          {{/showSummary}}
          {{#each node.nodeGroups as |group|}}
            <li class="docs">
              <a href="{{node.id}}.html#{{group.key}}" class="expand">
                {{useTranslation group.name ../../translations}}
                <span class="icon-goto" title="{{ useTranslation "Go to" ../../translations }} {{group.name}}"></span>
              </a>
              <ul class="{{group.key}}-list deflist">
                {{#each group.nodes}}
                  <li>
                    <a href="{{node.id}}.html#{{anchor}}">{{{ useTranslation id ../../../translations }}}</a>
                  </li>
                {{/each}}
              </ul>
            </li>
          {{/each}}
        {{/isArray}}
        </ul>
    </li>
  {{/each}}
</ul>
