{{#each nodes as |node nodeId|}}
  {{#groupChanged ../this node.group}}
    <li class="group" {{#isArray node.headers}}{{else}}translate="no"{{/isArray}}>
      {{node.group}}
    </li>
  {{/groupChanged}}

  <li class="{{#isLocal node.id}}current-page open{{/isLocal}}">
    {{! When visiting a module page, the link to this module page
    in the menu should not link to a new page, instead should link
    to the top of the page itself. }}
    <a href="{{node.id}}.html" class="expand" {{#isArray node.headers}}{{else}}translate="no"{{/isArray}}>
      {{{node.title}}}
      <span class="icon-expand"></span>
    </a>

    <ul>
      {{#isArray node.headers}}
        {{#each node.headers}}
          <li>
            <a href="{{node.id}}.html#{{{anchor}}}">{{{id}}}</a>
          </li>
        {{/each}}
      {{else}}
        {{#showSections node}}
          <li class="docs {{#isLocal node.id}}open{{/isLocal}}">
            <a href="{{node.id}}.html#content" class="expand">
              Sections
              <span class="icon-expand"></span>
            </a>
            <ul class="sections-list deflist">
              {{#each sections}}
                <li>
                  <a href="{{node.id}}.html#{{anchor}}">{{{id}}}</a>
                </li>
              {{/each}}
            </ul>
          </li>
        {{/showSections}}
        {{#showSummary node}}
          <li>
            <a href="{{node.id}}.html#summary" class="summary">Summary</a>
          </li>
        {{/showSummary}}
        {{#each node.nodeGroups as |group|}}
          <li class="docs">
            <a href="{{node.id}}.html#{{group.key}}" class="expand">
              {{group.name}}
              <span class="icon-expand"></span>
            </a>
            <ul class="{{group.key}}-list deflist">
              {{#each group.nodes}}
                <li>
                  <a href="{{node.id}}.html#{{anchor}}" translate="no">{{id}}</a>
                </li>
              {{/each}}
            </ul>
          </li>
        {{/each}}
      {{/isArray}}
      </ul>
  </li>
{{/each}}
