{{#if isPlain}}
  <section class="docstring docstring-plain">
    {{this.hint.description}}
  </section>
{{else}}
  <div class="detail-header">
    <div class="signature">
      <span translate="no">{{this.hint.title}}</span>
      <div class="version-info" translate="no">{{this.hint.version}}</div>
    </div>
  </div>
  {{#if this.hint.description}}
    <section class="docstring">
      {{this.hint.description}}
    </section>
  {{/if}}
{{/if}}
