{{#if isPlain}}
  <section class="docstring docstring-plain">
    {{this.hint.description}}
  </section>
{{else}}
  <div class="detail-header">
    <h1 class="signature">
      {{this.hint.title}}
      <div class="version-info">{{this.hint.version}}</div>
    </h1>
  </div>
  {{#if this.hint.description}}
    <section class="docstring">
      {{this.hint.description}}
    </section>
  {{/if}}
{{/if}}
